@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html {
    height: 100%;
}

body {
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    padding: 45px 50px;
    max-width: 50em;
    background: linear-gradient(328deg, #f5daea 30%, #CFDEF3 ) fixed;
}


h1 {
    margin-bottom: 30px;
}

h3,
h4 {
    padding-left: 1em;
}

h4 {
    color: #707070;
}

#container a {
    color: black;
    text-decoration: underline;
}

#container a:hover {
    text-decoration: none;
}

#links a,
#up a {
    color: black;
    font-family: 'Inconsolata', monospace;
}

#links a:hover,
#up a:hover {
    text-decoration: none;
}

.pre,
code {
    /* background: white; */
    /* padding: 4px; */
    white-space: pre-wrap;
}

.col2 {
    columns: 2;
}

table td {
    padding: 0 1em;
}

blockquote {
    margin: 0 0 0 0em;
    padding-left: 1.5em;
    border-left: 1.5px solid black;
}

#up {
    margin-top: 1.5em;
    display: inline-block;
}

p {
    line-height: 1.5;
}

.footnote {
    font-size: small;
    margin: 0px;
    line-height: 80%;
}

.footnote li a.footnote-backref {
    text-decoration: none;
}

img {
    max-width: 100%;
}

q {
    font-style: italic;
}

::selection {
    background: #fff;
    opacity: 1.0;
    color: #000;
}
